.App {
  text-align: center;
}

.App-logo {
  height: 10vw;
  pointer-events: none;
  float: bottom;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header{
  margin-top: 2vmin;
  justify-content: center;
}
.App-header  h1{
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.App-header>div div{
  justify-content:center;
  font-size: calc(10px + 2vmin);
  display:flex;
  align-items: center;
  padding-right: 5%;
}
.App-header a{
  font-size: 2vh;
  font-family: 'Courier New';
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .All-products {
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.Product-details div{
  font-size: 2vh;
  font-family:sans-serif;
  float: left;
  margin-left: 10vh;
  text-align: left;

}



input[type="text"],select{
  width: 100%;
  padding:1vh;
  margin-top: 1vh;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  display: flex;
  text-align: left;
}
.register,.advanced-search button,.login{
  display: inline-block;
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.Review-form {


}

textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font: 1em sans-serif;
  
}

.Shopping-cart{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
}

.Shopping-cart-summary{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-right: 10%;
}

.Shopping-history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
}

.Shopping-history-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;}